<main class="dialog-padrao">
    <h1 mat-dialog-title>Editar Usuário</h1>
    <div mat-dialog-content>
        <form [formGroup]="editForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-padrao" style="padding-right: 8px;">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="Alimento">Alimento</mat-option>
                    <mat-option value="Eletrodoméstico">Eletrodoméstico</mat-option>
                    <mat-option value="Construção">Construção</mat-option>
                    <mat-option value="Moda">Moda</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-padrao">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="state">
                    <mat-option value="Novo">Novo</mat-option>
                    <mat-option value="Seminovo">Seminovo</mat-option>
                    <mat-option value="Usado">Usado</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input-padrao" appearance="outline" style="padding-right: 8px;">
                <mat-label>Preço</mat-label>
                <input formControlName="price" type="number" matInput>
            </mat-form-field>


            <mat-form-field class="input-padrao" appearance="outline" style="padding-right: 8px;">
                <mat-label>Disponíveis</mat-label>
                <input formControlName="disponible" type="number" matInput>
            </mat-form-field>
        </form>
    </div>
    <div [align]="'end'" mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Cancelar</button>
        <button mat-raised-button color="primary" (click)="saveEdit()">Enviar</button>
    </div>
</main>
