<section class="section-users">
  <mat-toolbar color="primary">
      <span>Gerenciador de Produtos</span>
      <span class="example-spacer"></span>
      <button color="warn" mat-raised-button (click)="logout()">Logout <mat-icon>logout</mat-icon></button>
  </mat-toolbar>
  <div class="container-table">
  
    <mat-form-field appearance="outline" style="width: 80%;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <button class="user-button-padrao" mat-raised-button color="primary" (click)="openAddDialog()">Adicionar Produto <mat-icon >control_point</mat-icon></button>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID: </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome: </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria: </th>
          <td mat-cell *matCellDef="let row"> {{ row.category }} </td>
        </ng-container>
  
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço: </th>
          <td mat-cell *matCellDef="let row"> {{row.price | currency: "R$"}} </td>
        </ng-container>
  
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado: </th>
          <td mat-cell *matCellDef="let row"> {{row.state}} </td>
        </ng-container>

        <ng-container matColumnDef="disponible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Disponíveis: </th>
          <td mat-cell *matCellDef="let row"> {{row.disponible}} </td>
        </ng-container>
  
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Postado em: </th>
          <td mat-cell *matCellDef="let row"> {{row.creationDate | date: 'dd/MM' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="updationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Atualizado em: </th>
          <td mat-cell *matCellDef="let row"> {{row.updationDate | date: 'dd/MM' }} </td>
        </ng-container>

        <ng-container matColumnDef="promotion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Promoção? </th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="row.promotion; else notPromotion" mat-icon-button class="action">
              <mat-icon color="accent" (click)="setFavorite(row)">beenhere</mat-icon>
            </button>
            <ng-template #notPromotion>
              <button mat-icon-button class="action">
                <mat-icon (click)="setFavorite(row)">beenhere</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Editar/Remover </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" class="action" (click)="openEditDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="action" (click)="removeUser(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Não foi achado nenhum produto</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 30, 50]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</section>